* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

html {
    box-sizing: border-box;
    font: clamp(14px, 8px + 0.45dvw, 20px) / 1.5 'Lato', sans-serif;
    color: #000;
}

body {
    min-height: 100dvh;
    align-items: center;
    display: flex;
}

main {
    padding: 1rem
        clamp(2dvh, calc((100dvw - 1360px) / 2), calc(100dvw / 2));
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    transition: opacity 0.5s ease-in-out;
}

ul > li {
    display: block;
    outline: 0.1em solid #808080;
    border-radius: 0.3em;
    width: fit-content !important;
}

ol > li {
    margin-left: 1em;
    color: #000;
}

ol li::marker {
    color: #3f00ff;
    font-size: 1.1em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

pre[class*='language-'] {
    padding: 0.6em !important;
    margin: 0 !important;
    overflow: auto;
    font-size: 0.88em !important;
    font-weight: 800 !important;
    width: fit-content !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    border-radius: 0.3em;
    width: fit-content !important;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
    font-weight: 700;
    background: #fcfdcd;
    border-radius: 0.3em;
    padding: 0.2em 0;
    box-shadow: 0 0 0.6em 0 rgb(0, 0, 0, 0.1);
}

.callstack,
.browser-api,
.event-queue {
    padding: 0.8em;
    border-radius: 0.3em;
    position: relative;
}

.outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.inner-wrapper {
    display: flex;
    gap: 2em;
}

.inner-wrapper h2 {
    text-align: center;
}

.container-right {
    width: 29rem;
}

.callstack,
.browser-api,
.event-queue {
    background: #cff1fb78;
    border: 0.3em solid #cff1fb;
    transition: background 0.4s ease-in-out border 0.4s ease-in-out;
}

.callstack {
    width: 22.5rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.browser-api {
    flex: 1 1 auto;
}

.event-queue {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.active {
    background: #d6fbe462;
    border: 0.3em solid #d6fbe4;
    transition: background 0.4s ease-in-out border 0.4s ease-in-out;
}

.container-middle {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-loop h2 {
    margin-bottom: 2em;
}

.callstack {
    position: relative;
}

.callstack .idle {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.callstack .idle.visible {
    opacity: 1;
}

.callstack .idle h3 {
    font-size: 1.4em;
    font-weight: 700;
    padding: 2em;
    border: 0.1em solid #00c13e;
    border-radius: 50%;
    color: #00c13e;
    background: linear-gradient(135deg, #aff474, #e5f7a3);
}

.container-loop {
    display: flex;
    gap: 3em;
    justify-content: center;
    transform: rotate(180deg);
    transition: transform 0.6s ease-in-out;
    margin-bottom: 0.5em;
}

.container-loop.rotated {
    transform: rotate(90deg);
}

.container-loop.rotated > div {
    background: #d4ea77;
    background: linear-gradient(135deg, #d4ea77, #00c13e);
}

.container-loop div {
    background: #b50c4e;
    background: linear-gradient(135deg, #b50c4e, #ea4600);
    width: 4em;
    height: 8em;
}

.container-loop div:nth-child(1) {
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
}

.container-loop div:nth-child(2) {
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

.container-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.event-queue ul {
    display: flex;
    flex-direction: row;
}

.user-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.result {
    background: #d1d1f922;
    border-radius: 0.3em;
    flex-grow: 1;
    padding: 0.6em;
    border: 0.3em solid #d1d1f9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.result h3 {
    font-weight: 700;
    transform: rotate(90deg);
    position: absolute;
    top: 3.4em;
    right: -0.8em;
    font-size: 1.4em;
    color: #8f4fb5;
}

.user-action ol {
    gap: 0.4em;
}

button {
    width: 12.5rem;
    padding: 0.5em 0;
    background-image: linear-gradient(135deg, #885bc1, #b430f2);
    color: #fff;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-weight: 700;
    transition: background-image 0.4s ease-in-out;
}

button:hover {
    background-image: linear-gradient(135deg, #8f4fb5, #43208e);
}

.move-right-up {
    position: absolute;
    transition: transform 0.6s ease-in-out;
    transform: translateX(50%) translateY(-100%);
    z-index: 100;
}

.move-down {
    position: absolute;
    transition: transform 0.6s ease-in-out;
    list-style: none !important;
    z-index: 100;
}

.move-left {
    position: absolute;
    transition: transform 0.8s ease-in-out;
    list-style: none !important;
}
