* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

li {
    display: block;
    border: 0.1em solid #808080;
    border-radius: 0.3em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

pre[class*='language-'] {
    padding: 1em !important;
    margin: 0 !important;
    overflow: auto;
    font-size: 0.88em !important;
    font-weight: 800 !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    border-radius: 0.3em;
}

html {
    box-sizing: border-box;
    font: clamp(14px, 8px + 0.45dvw, 20px) / 1.5 'Lato', sans-serif;
    color: #000;
}

body {
    min-height: 100dvh;
    align-items: center;
    display: flex;
}

main {
    padding: 1em
        clamp(2dvh, calc((100dvw - 1360px) / 2), calc(100dvw / 2));
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.callstack,
.browser-api,
.event-queue {
    padding: 0.8em;
    border-radius: 0.3em;
}

.outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.inner-wrapper {
    display: flex;
    gap: 2em;
}

.inner-wrapper h2 {
    text-align: center;
}

.callstack {
    width: 22rem;
    background: #cff1fb78;
    border: 0.3em solid #cff1fb;
}

.container-right {
    width: 30rem;
}

.browser-api {
    flex: 1 1 auto;
    background: #d6fbe462;
    border: 0.3em solid #d6fbe4;
}

.event-queue {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 20dvh;
    background: #fcfdcd96;
    border: 0.3em solid #fcfdcd;
}

.callstack {
    height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-middle {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-loop {
    display: flex;
    gap: 2em;
    justify-content: center;
    transform: rotate(180deg);
    transition: transform 0.6s ease-in-out;
}

.container-loop.rotated {
    transform: rotate(90deg);
}

.container-loop.rotated > div {
    background: #d4ea77;
    background: linear-gradient(135deg, #d4ea77, #00c13e);
}

.container-loop div {
    background: #b50c4e;
    background: linear-gradient(135deg, #b50c4e, #ea4600);
    width: 4em;
    height: 8em;
}

.container-loop div:nth-child(1) {
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
}

.container-loop div:nth-child(2) {
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

.container-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.event-queue ul {
    display: flex;
    flex-direction: row;
}

.explanation {
    padding: 0.8em;
    background: #ffdbdb52;
    flex-grow: 1;
    border: 0.3em solid #ffdbdb;
    border-radius: 0.3em;
}

.explanation h2 {
    text-align: center;
}

button {
    width: 12.5rem;
    padding: 0.5em 0;
    background: #d37a0d;
    background: linear-gradient(135deg, #d37a0d, #e86400);
    color: #fff;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-weight: 700;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

button:hover {
    color: #000;
    background: #fcbb71;
    background: linear-gradient(135deg, #fcbb71, #db9264);
}
