* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

li {
    display: block;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

pre[class*='language-'] {
    padding: 1em !important;
    margin: 0 !important;
    overflow: auto;
    font-size: 0.88em !important;
    font-weight: 800 !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    border-radius: 0.3em;
}

html {
    box-sizing: border-box;
    font: clamp(14px, 8px + 0.45dvw, 20px) / 1.5 'Lato', sans-serif;
    color: #000;
}

body {
    min-height: 100dvh;
    align-items: center;
    display: flex;
}

main {
    padding: 1em
        clamp(2dvh, calc((100dvw - 1360px) / 2), calc(100dvw / 2));
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.callstack,
.browser-api,
.event-queue {
    padding: 1em;
    border-radius: 0.3em;
}

.outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.inner-wrapper {
    display: flex;
    gap: 2em;
}

.inner-wrapper h2 {
    text-align: center;
}

.callstack {
    width: 23rem;
    background: #cff1fb78;
    border: 0.3em solid #cff1fb;
}

.container-right {
    width: 30rem;
}

.browser-api {
    flex: 1 1 auto;
    background: #d6fbe462;
    border: 0.3em solid #d6fbe4;
}

.event-queue {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 20dvh;
    background: #fcfdcd77;
    border: 0.3em solid #fcfdcd;
}

.callstack {
    height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-middle {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-loop {
    display: flex;
    gap: 2em;
    justify-content: center;
    transform: rotate(180deg);
}

.container-loop.rotated {
    transform: rotate(90deg);
}

.container-loop.rotated > div {
    background: green;
}

.container-loop div {
    background: red;
    width: 4em;
    height: 8em;
}

.container-loop div:nth-child(1) {
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
}

.container-loop div:nth-child(2) {
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

.container-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.event-queue ul {
    display: flex;
    flex-direction: row;
}
